body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}

h1 {
    padding: 15px;

}

h2 {
    font-size: 30px;
    color: #0D0D0D;
}

p {
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img {
    width: 250px;
    text-align: center;
    border: 10px dashed #FFFFFF;
}

div {
    padding: 20px;
    border: 3px solid #FFFFFF;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;

}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
}

.green {
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}

footer {
    border: 5px solid #FFFFFF;
}

/*


Style the default footer elements with:
a gradient background that starts at #000000, goes to #0000ff at 25,  #0066ff at 70, and ends back at #000000.
A 5px solid white border.
Style any paragraphs within the footer with:
20px text that is aligned to the right.
Padding of 15px on the top, right, and bottom only. (No padding on the left.)


Link the stylesheets correctly.
Link the favicon correctly.


Style the default div elements with:
 A flexible height of at least 125px tall


Style the introduction class with:
Double-spaced text

The blue div has the following styles
WAVE YOUR PAGE!!!!  Uh oh.  Let's fix the color contrast here  – Dark on blue is too hard to read.
Use #C4C4C4 for the heading and paragraph text

The yellow div has the following styles
WAVE YOUR PAGE!!!!  Uh oh.  Let's fix the color contrast here  too
Use #707070 for the paragraph text


 */
